.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 122, 0.2);
    z-index: -1;
  }

  .dialog {
    position: relative;
    background-color: white;
    box-shadow: var(--elevation-md);
    border-radius: 12px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    
    /* Ensure scrollbar looks nice */
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 3px;
    }
  }
}
